<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="30 seconds">
	<!-- local -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder
			by default -->
		<encoder>
			<pattern>%d [%-5level] %logger{100}[%method:%line] - %msg %n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>D:\workspace\logs\sample_commond2.log</file>
		<encoder>
			<pattern>%d [%-5level] %logger{100}[%method:%line] - %msg %n</pattern>
		</encoder>
	</appender>


	<!-- Class Method 이동 경로 정보 -->
	<logger name="org.ezdevgroup.ezframework.intercepter.aspect.LoggingAspect" level="DEBUG" />

	<logger name="org.springframework.beans.factory.support.DefaultListableBeanFactory" level="ERROR" />
	<logger name="org.springframework.security.util.FilterChainProxy" level="ERROR" />
	<logger name="org.springframework.security.context.HttpSessionContextIntegrationFilter" level="ERROR" />
	<logger name="org.springframework.security.wrapper.SavedRequestAwareWrapper" level="ERROR" />
	<logger name="org.springframework.jdbc.datasource.DataSourceUtils" level="ERROR" />
	<logger name="org.springframework.web.servlet.view.ContentNegotiatingViewResolver" level="ERROR" />
	<logger name="org.mybatis.spring.SqlSessionUtils" level="ERROR" />




	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>